<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/img/logoFav.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/table.css">

    <title>Brakaas</title>
</head>
<body>
<header>
    <a href="../../"><img class="img" src="/img/logo.jpg" alt=""></a>
    <a href="/confirmation/delogConf.html"><input class="delog" type="button" value="Deconnexion"></a>
    <a href="../../"><input class="delog" type="button" value="Retour accueil"></a>
    <h1>Les Brakaas !</h1>
</header>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="upper">
            <img src="https://i.imgur.com/Qtrsrk5.jpg" class="img-fluid">
        </div>
        <div class="user text-center">
            <div class="profile">
                <img src="https://i.imgur.com/JgYD2nQ.jpg" class="rounded-circle"
                     width="80">
            </div>
        </div>

        <div class="mt-5 text-center">
            <h4 class="mb-0" th:text="${current_order.id_order}"></h4>
            <h4 class="mb-0" th:text="${current_order.date}"></h4>
            <span class="text-muted d-block mb-2"></span>
            <!--        <button class="btn btn-primary btn-sm follow">Follow</button>
            -->
            <div
                    class="d-flex justify-content-between align-items-center mt-4 px-4">

                <div class="stats">
                    <h6 class="mb-0">Client ID</h6>
                    <span th:text="${current_order.client_id}"></span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Product ID</h6>
                    <span th:text="${current_order.product_id}"></span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Quantity</h6>
                    <span th:text="${current_order.quantity}"></span>
                </div>
                <div class="stats">
                    <h6 class="mb-0">Total</h6>
                    <span th:text="${current_order.total}"></span>
                </div>

            </div>
            <button> <a href="/orders/">Home</a> </button>
            <a th:href="@{|/orders/${current_order.id_order}/delete|}">Delete</a>
        </div>
    </div>
</div>
</body>
</html>