<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/img/logoFav.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/table.css">

    <title>Brakaas</title>
</head>
<body>
<header>
    <a href="../../"><img class="img" src="/img/logo.jpg" alt=""></a>
    <a href="/confirmation/delogConf.html"><input class="delog" type="button" value="Deconnexion"></a>
    <a href="../../"><input class="delog" type="button" value="Retour accueil"></a>
    <h1>Les Brakaas !</h1>
</header>
<p>Fiche de produit :</p>


<div class="container d-flex justify-content-center align-items-center">
    <div class="tabContainer">
        <table class="tabDesign">
            <thead>
            <tr>
                <th>Name</th>
                <th>availability</th>
                <th>price</th>
                <th>stock</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${current_product.name}" ></td>
                <td th:text="${current_product.availability}"></td>
                <td th:text="${current_product.price}"></td>
                <td th:text="${current_product.stock}"></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{|/products/${current_product.id_product}/edit|}"><input class="authLog" type="button" value="Modifier le produit !"></a>
        <a th:href="@{|/products/${current_product.id_product}/delete|}"><input class="authLog" type="button" value="Supprimer le produit !"></a>

    </div>
</div>
</body>
</html>