<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/img/logoFav.ico">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/button.css">
    <link rel="stylesheet" href="/css/confirmation.css">
    <link rel="stylesheet" href="/css/create.css">

    <title>Brakaas</title>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center">
    <header>
        <a href="../../"><img class="img" src="/img/logo.jpg" alt=""></a>
        <a href="/confirmation/delogConf.html"><input class="delog" type="button" value="Deconnexion"></a>
        <a href="../../"><input class="delog" type="button" value="Retour accueil"></a>
        <h1>Les Brakaas !</h1>
    </header>
    <p>Création d'un produit :</p>

    <div class="formCommand">
        <form method="POST" th:action="@{/products/save}" th:object="${current_product}">
            <label>Nom du produit</label>
            <input class="input" type="text" placeholder="Nom du produit" th:field="*{name}">
            <br><br>
            <label>Disponibilité</label>
            <input class="input" type="text" placeholder="Dsponibilité" th:field="*{availability}">
            <br><br>
            <label>Prix</label>
            <input class="input" type="text" placeholder="Prix" th:field="*{price}">
            <br><br>
            <label>Stock</label>
            <input class="input" type="text" placeholder="Stock" th:field="*{stock}">
            <br><br>
            <input type="hidden" th:field="*{id_product}">
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>
