.formCommand {
    background-color: white;
    border-radius: 15px;
    width: 13em;
    padding: 2em 3em 2em 3em;
    margin: auto;
}

.input {
    border: 2px black solid;
    border-radius: 5px;
    padding: 5px;
    width: 15em;
}

.sendCommand {
    border-radius: 5px;
    border: 1px gray solid;
    padding: 8px;
    background-color: lightgray;
}

.sendCommand:hover {
    cursor: pointer;
    transition: 0.4s;
    opacity: 0.4;
}