<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif&display=swap" rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="../../../../../../../../../../Downloads/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/mspr/img/logoFav.ico">
    <link rel="stylesheet" href="../../../../../../../../../../Downloads/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/mspr/css/style.css">
    <link rel="stylesheet" href="../../../../../../../../../../Downloads/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/mspr/css/button.css">
    <link rel="stylesheet" href="../../../../../../../../../../Downloads/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/mspr/css/table.css">

    <title>Brakaas</title>
</head>

<body>
    <header>
        <a href="../../../../../../../../../../Downloads/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/mspr/index.html"><img class="img" src="../../../../../../../../../../Downloads/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/mspr/img/logo.jpg"></a>
        <a href="../../../../../../../../../../Downloads/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/mspr/confirmation/delogConf.html"><input class="delog" type="button" value="Deconnexion"></a>
        <a href="../../../../../../../../../../Downloads/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/mspr/index.html"><input class="delog" type="button" value="Retour accueil"></a>
        <h1>Les Brakaas !</h1>
    </header>
    <p>Liste des clients :</p>

    <div class="tabContainer">
        <table class="tabDesign">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>01</td>
                    <td>Jean</td>
                    <td>Bernard</td>
                    <td>Afficher | Modifier</td>
                </tr>

                <tr>
                    <td>02</td>
                    <td>Claude</td>
                    <td>Bertrand</td>
                    <td>Afficher | Modifier</td>
                </tr>

                <tr>
                    <td>03</td>
                    <td>Soizig</td>
                    <td>Claudette</td>
                    <td>Afficher | Modifier</td>
                </tr>

                <tr>
                    <td>04</td>
                    <td>Prout</td>
                    <td>Pouet</td>
                    <td>Afficher | Modifier</td>
                </tr>
            </tbody>
        </table>
        <a href="../../../../../../../../../../Downloads/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/Brakaas_Repo-53b46719b71278af22997c36f23a320957e3c652/mspr/addClient.html"><input class="authLog" type="button" value="Ajouter un client !"></a>
    </div>
</body>